.btn {
    
    @apply text-button uppercase;
    @apply flex h-60 box-border;
    @apply min-w-[250px] inline-flex items-center justify-center;
    @apply transition-all duration-500 ease-in-out relative;
    clip-path: polygon(0% 0%, calc(100% - 50px) 0%, 100% 100%, 50px 100%);
    span {
        @apply relative z-10 px-[66px] pointer-events-none;
    }
    &--primary {
       
        @apply bg-color4;
       
        &:after {
            content: "";
            background: linear-gradient(270deg, #900407 0%, #EDD918 100%);
            @apply absolute top-0 left-0 w-full h-full opacity-0;
            @apply transition-all duration-500 ease-in-out z-0;
        }
        &:hover {
            @apply text-white;
            &:after {
                @apply opacity-100;
            }
        }
    }
    &--secondary {
        @apply bg-color2;
        @apply text-white;

        &:after {
            content: "";
            background: linear-gradient(270deg,#EDD918  0%, #900407 100%);
            @apply absolute top-0 left-0 w-full h-full opacity-0;
            @apply transition-all duration-500 ease-in-out z-0;
        }
        &:hover {
            &:after {
                @apply opacity-100;
            }
        }
    }

   
}